body {
    font-family: Arial, sans-serif;
    background-color: #E63733;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    color: white;  /* Added to make the body text white */
    height: auto
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 90%;
    max-height: 60vh;
}

.links {
    margin-top: 50pt;
    font-size: 15pt;
    display: flex;
    align-items: center;
}

.links a, .links span {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #bbbbbb;
}

.privacy-content {
    padding: 100pt;
    text-align: justify;
    max-width: 800px;
    color: white;  /* Explicitly setting the color again for consistency */
}

/* New styles for heading_1, em, and bodytext */
.heading_1 {
    color: white;
}

em {
    color: white;
}

.bodytext {
    color: white;
}

[data-custom-class="title"],
[data-custom-class="subtitle"],
[data-custom-class="body_text"],
[data-custom-class="heading_1"],
[data-custom-class="link"] {
    color: white;
}

strong, em {
    color: white;
}

/* Specific styling for the link to make it stand out more */
[data-custom-class="link"] {
    text-decoration: underline;
    font-weight: bold;
}

/* For any other elements like spans and divs that might be nested but not specifically targeted */
[data-custom-class="body"] span,
[data-custom-class="body"] div {
    color: white;
}