body {
    font-family: Arial, sans-serif;
    background-color: #E63733;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 90%;
    max-height: 60vh;
}

.links {
    margin-top: 50pt;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    position: relative;
}

.divider {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.links a, .links span {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #bbbbbb;
}

.privacy-content {
    padding: 100pt;
    text-align: justify;
    max-width: 800px;
    color: white;
}

.heading_1 {
    color: white;
}

em {
    color: white;
}

.bodytext {
    color: white;
}

[data-custom-class="title"],
[data-custom-class="subtitle"],
[data-custom-class="body_text"],
[data-custom-class="heading_1"],
[data-custom-class="link"] {
    color: white;
}

.block-component {
    color: white;
}

strong, em {
    color: white;
}

[data-custom-class="link"] {
    text-decoration: underline;
    font-weight: bold;
}

[data-custom-class="body"] span,
[data-custom-class="body"] div {
    color: white;
}
